<%= form_for(@outfit) do |f| %>
  <% if @outfit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>

      <ul>
      <% @outfit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <%= f.fields_for :shirts do |builder| %>
    <fieldset>
      <%= builder.label :name %>
      <%= builder.text_area :name %>
    </fieldset>>
  <% end %>
  <%= f.fields_for :pants do |builder| %>
    <fieldset>
      <%= builder.label :name %>
      <%= builder.text_area :name %>
    </fieldset>>
  <% end %>
  <%= f.fields_for :jackets do |builder| %>
    <fieldset>
      <%= builder.label :name %>
      <%= builder.text_area :name %>
    </fieldset>>
  <% end %>
  <%= f.fields_for :ties do |builder| %>
    <fieldset>
      <%= builder.label :name %>
      <%= builder.text_area :name %>
    </fieldset>>
  <% end %>
  <div class="field">
    <%= f.label :last_worn %><br>
    <%= f.datetime_select :last_worn %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
